@using ItemPricer.Models;

@{
    ViewBag.Title = "Items Page";
}

@model List<Item>

<div class="container">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <div>@item.Name <br/>@item.PriceDisplay()</div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div>Enter item name to find max price:</div>
    <input id="item-input" class="input-sm"/>
    <button class="btn-sm" onclick="maxPrice()">Go</button>
    <div class="result">
        <p class="max-price-result"></p>
    </div>
</div>

<script type="text/javascript">
    function maxPrice() {
        $.ajax({
            type: "GET",
            url: "/Home/GetPrice?itemName=" + $('#item-input').val()
        }).done(function (response) {
            $(".max-price-result").html(response);
        }).fail(function () {
            $(".max-price-result").html("Max price could not be obtained.");
        });
    }
</script>
